body {

    font-family: 'Arial', sans-serif;

    background-color: #ffebee;

    color: #c62828;

    text-align: center;

    padding: 50px;

    verflow: hidden; /* Prevents scrollbars from appearing */

}

.container {

    background-color: #fff;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

h1 {

    font-size: 2.5em;

    margin-bottom: 20px;

}

p {

    font-size: 1.2em;

    margin-bottom: 30px;

}

.buttons button {

    padding: 10px 20px;

    font-size: 1em;

    margin: 0 10px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}

#yesBtn {

    background-color: #4caf50;

    color: white;

}

#noBtn {

    background-color: #f44336;

    color: white;

}

#roseDisplay {

    margin-top: 30px;

    font-size: 2em;

    position: relative

}
